
.content {
  height:80vh;
  width: 100%; /* or whatever is required */
}


.container{
  background:white;
  //background: transparent url('../images/background/soccer_game_background.jpeg') fixed center !important;
  min-height:55vh;
  max-height: 55vh;
  overflow: hidden;
  width: 100%;
  display:block;
  margin: 0 auto;
}
.text {
  color: #015367;
  font-size: 100%;
  margin: 0;
  position: absolute;
  top: 32%;
  left: 28%;
  z-index: 100;
}

.Stepbar{
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.titleSection {
  display: inline-block;
  color: #015367;
}
.result {
  display: block;
  margin-bottom: 10px;
  color: #015367;
}
.label {
  display: inline-block;
  color: #015367;
}
.errors {
  color: darkred;
  font-weight: bold;
}


.titleResult{
  text-align: center;
  font-weight: bold;
  font-size: 100%;
  display: inline;
}

.result {
  display: inline;
  font-size: 70%;
  margin-bottom: 10px;
  color: #015367;
}
.list {
  overflow: auto;
  height: 35vh;
  color: #015367;
}
